<!DOCTYPE html>
<html>
  <head>
    <title>MAPS</title>
    <link rel="stylesheet" href="../static/styles/index.css">
  </head>
  <body>
    <div class="container">
    <div class="heading">
        <img src="../static/Pictures/Logo.png" alt="Logo" >
        <h1>MEDICAL ASSISTANCE AND PATIENT SURVIVALENCE (MAPS)</h1>
    </div>
    <br>
    <div class="button-container">
        <div class="button">
            <div class="patient">
                <div class="color">
                    <a href="http://127.0.0.1:5000/patient_interface" >Patient Interface</a>
                </div>
            </div>
        </div>

        <div class="button">
            <div class="doctor">
                <div class="color">
                    <a href="http://127.0.0.1:5000/doctors_interface" >Doctor's Interface</a>
                </div>
            </div>
        </div>

        <div class="button">
            <div class="around-me">
                <div class="color">
                    <a href="http://127.0.0.1:5000/docs_around_me" >Doctors Around Me</a>
                </div>
            </div>
        </div>

        <div class="button">
            <div class="remainder">
                <div class="color">
                    <a href="http://127.0.0.1:5000/medicine_remainder" >Medicine Reminder</a>
                </div>
            </div>
        </div>

        <!-- <div class="button">
            <div class="suggestor">
                <div class="color">
                    <a href="http://127.0.0.1:5000/maps/food_suggestor" class="button suggestor">Food Suggestor</a>
                </div>
            </div>
        </div> -->
        
    </div>
    </div>
  </body>
</html>